<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <title>Comic Club</title>
  </head>
  <body>
      
      <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Comics</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/IMAGE COMICS">Image</a></li>
        <li><a href="/DC COMICS">DC</a></li>
        <li><a href="/MARVEL COMICS">Marvel</a></li>
        <li><a href="/DARK HORSE COMICS">Dark Horse</a></li>
        <li><a href="/VALIANT ENTERTAINMENT LLC">Valiant</a></li>
        <li><a href="/IDW PUBLISHING">IDW</a></li>
      </ul>
    </div>
  </div>
</nav>
